<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DataBaseConnectionString" connectionString="Data Source=world-of-codes.database.windows.net;Initial Catalog=sara-advertisiment;Persist Security Info=True;User ID=delaynore;Password=_u5mep9U6b6Z_2u"/>
	</connectionStrings>
</configuration>