<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DataBaseConnectionString" connectionString="Server=tcp:world-of-codes.database.windows.net,1433;Initial Catalog=sara-image;Persist Security Info=False;User ID=delaynore;Password=_u5mep9U6b6Z_2u;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	</connectionStrings>
</configuration>